apiVersion: v1
kind: Secret
metadata:
  name: ghcr-cred
  namespace: svc-kochen
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "username": "<GH_USER_OR_ORG>",
          "password": "<GHCR_TOKEN_WITH_read:packages>",
          "email": "none@example.com",
          "auth": "<BASE64_OF_<GH_USER_OR_ORG>:<GHCR_TOKEN_WITH_read:packages>>"
        }
      }
    }
